/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: letsjazz;
    src: url("../public/fonts/Let\'sJazz.otf");
}

body {
    background-color: #FDFBED;
}