/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

@font-face {
    font-family: letsjazz;
    src: url("../public/fonts/Let\'sJazz.otf");
}

body {
    background-color: #FDFBED;
}